body{
    margin: 0;
    padding: 0;
    background-color: #7C898B;
    height: 100vh;
    
}

main{
    width: 50vh;
    background-color: #93A3B1;
    height: 50vh;
    border-radius: 30px;
    box-shadow: 10px 2px 10px 0 #322214;
    transition: all 0.5s ease;
   

}

main:hover{
    width: 53vh;
    height: 53vh;
    
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}